body {
    width: 450px;
    }
input,select{
    margin-top: 15px;;
}
.club{
    margin-top: 10px;;
}
.main-page {
    width: 450px; border: solid 1px #000000;
    background-color: white; padding: 10px;
    }


.results{
    margin-top: 15px;
    padding: 10px;
    font-family: 'Lucida Sans';
    background-color: blue;
    color: white;
    border-style: solid;
    border-color: red;
}